


.navbar {
    background-color: rgb(69, 206, 206);
}
.conheça-nos{
    background-color: rgb(208, 216, 224);
}




.margin {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    
    
}

.veja {
    background-color: rgb(208, 216, 224);
}


